<<<<<<< HEAD
.sobreHeader {
=======
.sobreHeader{
    background-image: url(https://ibb.co/ft59kDb);
    /* background-color: rgb(224, 224, 224); */
>>>>>>> fd121b4f422fe6d1b01fa1e8fc9794ebaf43f693
    width: auto;
    border-radius: 0 0px 10px 10px;
}

.img__imgheaderpng--Header {
    width: 100%;
    height: 85px;
    position: absolute;
    z-index: -1;
}

.div__containerElementos--Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.img__logo--header {
    width: 70px;
    height: 40px;
}

.pre__titulo--header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 5px rgb(197, 197, 197); */
}

.span__preregistro--Header {
    color: rgb(223, 0, 37);
    text-shadow: 2px 2px 5px rgb(239, 246, 255);
}


/* font-family: 'Montserrat', sans-serif; */